<div class="row row-cols-auto gap-5 w-100">
  {{#each tables}}
  <div class="col rounded-3 border bg-white py-2 px-3" style="height: 20rem; width: 25rem">
    <div class="d-flex mb-3 mt-2">
      <h5 class="flex-fill">Table {{id}}</h5>
    </div>
    {{#if current_order}}
    <div class="row row-cols-1 gap-3">
    {{#each current_order.order_lines}}
      <form class="col d-flex gap-2" style="cursor: pointer;" hx-put="/dashboard/kitchen/orders/status/{{id}}" hx-trigger="click" hx-swap="none" _="
      on htmx:afterOnLoad trigger update
      ">
        {{#if (eq status 0)}}
        <i class="ti ti-dots p-1 bg-warning rounded-circle"></i>
        <input type="hidden" name="status" value="1">
        {{else if (eq status 1)}}
        <i class="ti ti-clock p-1 bg-primary rounded-circle"></i>
        <input type="hidden" name="status" value="2">
        {{else if (eq status 2)}}
        <i class="ti ti-check p-1 bg-success rounded-circle"></i>
        <input type="hidden" name="status" value="0">
        {{/if}}
        <p class="m-0">{{product.name}}</p>
      </form>
    {{/each}}
    </div>
    {{else}}
    <p class="text-muted text-center align-self-center">Table unoccupied</p>
    {{/if}}
  </div>
  {{/each}}
</div>