<div class="d-flex vh-100"> 
    <div class="h-75">
        <div class="d-flex justify-content-between p-2">
            <div class="dropdown text-center m-2" id="menus1">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                   Categories
                </button>
                <ul class="dropdown-menu menuSelect">
                    <li>
                        {{#each categories}}
                            <a class="dropdown-item" href="/dashboard/kitchen/product?category={{category}}">{{category}}</a>
                        {{/each}}
                    </li>
                </ul>
            </div>
            <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#addItemModal">
                Add item
            </button>
            <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#addCategory">
                Add Category
            </button>
        </div>
        <div class="row row-cols-2">
        {{#each products}}
            <div class="d-flex justify-content-around col">
                <div class="card m-2" style="max-width:500px; max-height:500px;">
                    <img class="card-img-top" src="{{image}}" alt="Food">
                    <div class="card-img-overlay text-end">
                        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#editItemModal{{id}}">Edit</button>                    
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{name}}</h3>
                        <p class="card-text">${{twodecimal price}}</p>
                    </div>
                </div>
            </div>

            <div class="modal" id="editItemModal{{id}}">
                <div class="modal-dialog modal-dialog-centered">
                    <form action="/dashboard/kitchen/product/{{id}}w" method="POST" class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Edit item</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <div class="list-group">
                                <li class="list-group-item">
                                    <label for="imageFile">Edit Image</label>
                                    <input type="file" id="imageFile" capture="environment" accept="image/*" _="
                                    def updateInp(evt)
                                      set inp to <input[name='image']/> in my parentElement
                                      set @value of inp to evt.target.result
                                    end
                                    on change
                                      make FileReader called fr
                                      call fr.addEventListener('load', updateInp)
                                      call fr.readAsDataURL(my files[0])
                                    "> 
                                    <input type="hidden" name="image">
                                </li>
                                <li class="list-group-item">
                                    <input type="text" step="" id="editItemName" placeholder="Edit Item Name" name="name"> 
                                </li>
                                <li class="list-group-item">
                                    <input type="number" step="0.01" id="editItemPrice" placeholder="Edit Item Price" name="price"> 
                                </li>
                            </div> 
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info position-absolute bottom-0 end-0">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        {{/each}}
        </div>
    </div>
</div>

<div class="modal" id="addItemModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add item</h4>
                <button type="button" class="btn btn info" data-bs-dismiss="modal"></button>
            </div>
            <form id ="addingfood" action="/dashboard/kitchen/product" method="POST" class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <label for="imageFile">Add Image</label>
                        <input type="file" id="imageFile" capture="environment" accept="image/*" _="
                        def updateInp(evt)
                          set inp to <input[name='image']/> in my parentElement
                          set @value of inp to evt.target.result
                        end
                        on change
                          make FileReader called fr
                          call fr.addEventListener('load', updateInp)
                          call fr.readAsDataURL(my files[0])
                        "> 
                        <input type="hidden" name="image">
                    </li>
                    <li class="list-group-item">
                        <input type="text" step="" id="addItemName" placeholder="Add Item Name" name="name" required> 
                    </li>
                    <li class="list-group-item">
                        <input type="number" step="0.01" id="addItemPrice" placeholder="Add Item Price" name="price" required> 
                    </li>
                    <li class="list-group-item">
                        <div class="dropdown">
                            <select>
                                {{#each categories}}
                                    <option>{{category}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </li>
                </ul>
                <div class="modal-footer">   
                    <button type="button" class="btn btn-danger position-absolute bottom-0">Delete Item</button>
                    <button type="submit" class="btn btn-info position-absolute bottom-0 end-0">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="addCategory">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Category</h4>
            </div>
            <form id ="addcategory" action="/dashboard/kitchen/product/category" method="POST" class="modal-body">
                <input type="text" step="" id="addCategory" placeholder="Add Category" name="Category" required>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info position absolute bottom-0 end-0">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="position-absolute top-0 end-0" style="max-width: 200px;">
    <button type="button" class="btn btn-danger">Delete Category</button>
</div>
