<form class="d-flex flex-column vh-100" action="/user/order" method="post">
    <div class="card border border-5 vw-100 flex-fill margin" style="width: 18rem;">
        <div class="row row-cols-2">
            {{#each products}}
            <div class="card p-5 col d-flex flex-column align-item-center">
                <label class="text-center">{{ dataValues.name }}</label>
                {{#if image}}
                    <label><img src="data:image/png;base64,{{ convertToBase64 dataValues.image }}" alt="Image"></label>
                {{/if}}
                <input type="checkbox" value="{{ dataValues.id }}" _="
                set :elem to <input[type='number']/>
                set :selected to false
                init hide :elem end
                on change from me
                    set :selected to not :selected
                    if :selected then set @disabled of :elem to undefined
                    else set @disabled of :elem to true end
                    toggle *display of :elem in my parentElement
                "><br>
                <label for="quantity">Quantity:</label>
                <input type="number" name={{ dataValues.id }} min="1" max="999" value="1" disabled>
            </div>
            {{/each}}

        </div>
    </div>

    <div class="bg-primary p-4 d-flex justify-content-center gap-5">
        <button type="" class="btn btn-danger">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="location.href=''">View</button>
        <button type="submit" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Finish</button>
        <a href=""></a>
    </div>  
    
</form>

{{!-- <div>
    {{#each orders}}
    <p>{{ dataValues.in_time }}, {{ dataValues.id }}</p>
    <button hx-delete="/user/order" hx-swap="none" hx-vars="id:{{dataValues.id}}">Delete</button>
    {{/each}}
</div> --}}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Order Placed</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                You have successfully placed an order
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>