<div class="d-flex flex-column h-100">
  <div>
    <div class="dropdown">
      <button class="btn btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filter
        <i class="ti ti-filter"></i>
      </button>
      <div class="dropdown-menu px-3 pb-3" _="on click halt">
        <div class="d-flex">
          <form method="get" action="/dashboard/admin/feedbacks">
            <table class="table align-middle">
              <tbody>
                <tr>
                  <td>Rating</td>
                  <td>  
                    <input name="rating" type="text" _="
                    init
                    add .d-block to closest .dropdown-menu
                    make rSlider from {
                      target: me,
                      values: [1, 2, 3, 4, 5],
                      range: true,
                      tooltip: false,
                      set: [{{defaultVal startRate 0}}, {{defaultVal endRate 5}}]
                    }
                    remove .d-block from closest .dropdown-menu
                    end
                    "/>
                  </td>
                </tr>
                <tr>
                  <td style="width: 8rem;">Date</td>
                  <td>
                    <div class="d-flex gap-5 align-items-center">
                      <div class="input-group input-daterange" data-provide="datepicker" style="width: 20rem" data-date-format="yyyy-mm-dd">
                          <input type="text" name="startDate" class="form-control" value="{{startDate}}">
                          <span class="input-group-text">to</span>
                          <input type="text" name="startEnd" class="form-control" value="{{endDate}}">
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-end">
              <button class="btn btn-outline-primary btn-sm" _="
              on click call (my form).submit()
              ">Apply</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row flex-fill" data-masonry='{"percentPosition": true }'>
    {{#each feedbacks}}
    <div class="col-sm-6 col-lg-4 my-3">
      <div class="container rounded-3 bg-white border py-3">
        <div class="d-flex">
          <p class="me-auto text-muted" _="
          init
          make Date from '{{updatedAt}}' called date
          set options to {weekday: 'short', year: 'numeric', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit', hour12: true}
          append date.toLocaleString(undefined, options) to me
          end
          "></p>
          <p>
            {{rating}}/5
            <i class="ti ti-star"></i>
          </p>
        </div>
        <p class="text-break">{{content}}</p>
      </div>
    </div>
    {{/each}}
  </div>

  <nav aria-label="..." class="align-self-center">
    <ul class="pagination">
      <li class="page-item {{#if (ne paginate.hasPreviousPages true)}}disabled{{/if}}">
        <a class="page-link" href="{{prevUrl}}">Previous</a>
      </li>
      {{#each pages}}
      <li class="page-item {{#if (eq number @root.currentPage)}}active{{/if}}"><a class="page-link" href="{{url}}">{{number}}</a></li>
      {{/each}}
      <li class="page-item {{#if (ne (paginate.hasNextPages pageCount) true)}}disabled{{/if}}">
        <a class="page-link" href="{{nextUrl}}">Next</a>
      </li>
    </ul>
  </nav>
</div>
