<div class="w-75">
  <div class="card rounded-3 p-4 mb-4">
    <h5>Change passwords</h5>
    {{#each (arr 'kitchen' 'clerk' 'admin')}}
    <hr>
    <div class="p-2 d-flex align-items-center">
      <div class="flex-fill">{{cap this}}</div>
      <button class="btn btn-sm btn-outline-primary" data-bs-target="#modal_{{this}}" data-bs-toggle="modal">Change</button>
    </div>
    {{/each}}
  </div>

  <form class="card rounded-3 p-4" method="post" action="/dashboard/admin/passwords/recovery_email">
      <h5>Recovery email</h5>
      <hr>
      <p>If you've lost your password, this recovery email can be used to reset it</p>
      <input class="form-control" name="email" type="email" placeholder="{{recovery_email}}" required>
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary mt-4" type="submit">Save</button>
      </div>
  </form>
</div>

{{#each (arr 'kitchen' 'clerk' 'admin')}}
<div class="modal fade" tabindex="-1" id="modal_{{this}}">
  <div class="modal-dialog modal-dialog-centered">
    <form class="modal-content" _="install repeatPassword" method="post" action="/dashboard/admin/passwords/change_{{this}}">
      <div class="modal-header">
        <h5 class="modal-title">Change {{cap this}} Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-4">
        <label>Password</label>
        <input type="password" class="form-control mb-3" name="password" required>
        <label>Repeat Password</label>
        <div class="input-group has-validation">
          <input type="password" class="form-control" name="password_rep" required>
          <div class="invalid-feedback">
            Passwords do not match
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Change</button>
      </div>
    </form>
  </div>
</div>
{{/each}}